@{
    ViewData["Title"] = "Home Page";
}

<div>
 <h4>Single File upload</h4>

 <form asp-controller="Home" asp-action="SingleFile" enctype="multipart/form-data" method="post">
     <input type="file" name="file" />
     <button type="submit" >Upload</button>
 </form>


</div>
 <br />

<div>
 <h4>Multiple File upload</h4>

 <form asp-controller="Home" asp-action="MultipleFiles" enctype="multipart/form-data" method="post">
     <input type="file" multiple name="files" />
     <button type="submit" >Upload</button>
 </form>


</div>
